<div class="main-content">
    <div class="section-main">
        <h2 class="main-alert">This is an alert</h2>
        <div class="product-content">
            <div class="product-title-section">
                <h2>@Model.CurrentProduct.Name</h2>
                <h3>CA$@Model.CurrentProduct.Price</h3>
            </div>
            <!-- Consider adding reveiws here  -->
            <img src="@Model.CurrentProduct.ImagePath">
            <!-- Add functionality were the image changes if a different product is clicked on -->
            <div class="product-buttons">
                <div class="top-row">
                    <div class="cart-num-container">
                        @* <div class="quantity-box ">
                            <button type="button" class="button"> <span class="is-srOnly"></span><b>-</b></button>
                            <input type="text" id="txtAcrescimo" class="qty form-input form-input--incrementTotal" value="1">
                            <button type="button" class="button"><span class="is-srOnly"></span><b>+</b></button>
                        </div> *@
                    </div>
                    <!-- Consider adding a kart icon -->
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="@Model.CurrentProduct.Id" />
                        <button type="submit" class="add-to-cart">Add to Cart</button>
                    </form>
                </div>
                <button class="add-to-wishlist"><b>ADD TO WISH LIST</b></button>
            </div>
            <div class="information-description">
                <div class="product-information">
                    <p><b>SKU: </b></p> <p>???</p>
                    <p><b>UPC: </b></p> <p>???</p>
                    <p><b>Availability: </b></p> <p>???</p>
                </div>

                <div class="product-description">
                    <h2>Product Description</h2>
                    <p>@Model.CurrentProduct.Description</p>
                </div>
            </div>

           @*  <div class="reviews">
                <h2>Reveiws</h2>
                <h1>? Reviews</h1>

                <!-- Add your reveiws here. -->
            </div>

            <div class="related-products">
                <h1>RELATED PRODUCTS</h1>
                <h3><I>customer favorites</I></h3>
                <div class="related-product-display">
                    <img src="../../images/products/product-2-placeholder.jpg">
                    <!-- Add your stars here, and make it so that you can scroll through related products -->
                    <h3>CA$?.?? - CA$???.??</h3>
                </div>
            </div> *@
        </div>
    </div>

</div>