<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>


<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <button class="hamburgerBtn"><span>&#9776;</span><span>X</span></button>

            </div>
        </div>
    </header>

    <main>
        <ul class="primaryNav">
            <li><a asp-controller="Home" asp-action="Index">Client</a></li>
            <li><a asp-controller="Category" asp-action="Create">Create Category</a></li>
            <li><a asp-controller="Product" asp-action="Create">Create Product</a></li>
        </ul>
        <div class="main-content">
            <partial name="_Notification" />
            @RenderBody()
        </div>
    </main>

    <footer>
        <p class="copyright-text">&copy; 2024 MythMaker ALL RIGHTS RESERVED</p>
    </footer>
    <script src="~/js/script.js"></script>
</body>
</html>